* {
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: "Nunito", sans-serif;
   color: rgb(44, 79, 220);
   background-color: rgb(214, 243, 245);
   padding: 30px;
}

.title{
   max-width: 500px;
}


.wrapper {
   max-width: 1440px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0 auto;
}

h1 {
   font-size: 80px;
   font-weight: 900;
}

.restart {
   /* background-color: pink; */
   width: 270px;
   height: 60px;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   border: 2px solid rgb(44, 79, 220);
   transition: all 0.2s ease;
   margin-top: 30px;
}

.restart:hover {
   background-color: rgb(44, 79, 220);
   color: white;
}

.game {
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 500px;
}

.header {
   display: flex;
   color: rgb(25, 8, 216);
   font-size: 35px;
}

.header .player-x {
   flex: 1;
   padding-bottom: 8px; 
}

.player-x.active {
   color: #107871;
   border: #107871;
   border-bottom: 3px solid;
}


.header .player-o{
   flex: 1;
   padding-bottom: 8px; 
   /* line under player X or player O */
}

.player-o.active {
   color: #98118d;
   border: #98118d;
   border-bottom: 3px solid;
}


/* create board */
.board {
   display: grid;
   /* similar result:  */
   /* grid-template-columns: 1fr 1fr 1fr; */
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 0px;
   flex-grow: 1;
   padding: 10px;

}

.board-tile {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 100px;
   font-weight: 900 ;
   background: white;
   cursor: pointer;
}


/* create border for each tile */

/* not divisiable by 3 */
.board-tile:not(:nth-child(3n)) {
   border-right: 3px solid rgb(192, 201, 237)
}

.board-tile:not(:nth-last-child(-n + 3)) {
   border-bottom: 3px solid rgb(192, 201, 237)
}

.tile-x {
   color: #107871;;
}

.tile-o {
   color: #98118d;;
}

.tile-winner {
   background-color: greenyellow;
}

.announcement {
   max-width: 1440px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0 auto; 
}

@media only screen and (max-width : 1200px) {
   .wrapper {
      flex-direction: column;
   }
   .left {
      margin-bottom: 50px;
   }
}
   